*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #0C1014;
}
.container{
    display: flex;
    width: 100%;
    height: 300vh;
    background-color: #0C1014;
}

.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 685px;
    width: 250px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-left: 17px;
}
.sidebar-top{
   height: fit-content;
   width: fit-content;
   margin-top: 15px;
}

.instagram,
.home,
.reel,
.message,
.search,
.notifications,
.create,
.profile,
.more,
.also-from-meta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: 0.3s;
}

.profile{
    img{
        width: 24px;
        height: 24px;
        border-radius: 24px;

    }
}
.instagram:hover{
    background-color: #25282C;
}
.home:hover{
    background-color: #25282C;
}
.reel:hover{
    background-color: #25282C;
}
.message:hover{
    background-color: #25282C;
}
.search:hover{
    background-color: #25282C;
}
.notifications:hover{
    background-color: #25282C;
}
.create:hover{
    background-color: #25282C;
}
.profile:hover{
    background-color: #25282C;
}
.more:hover{
    background-color: #25282C;
}
.also-from-meta:hover{
    background-color: #25282C;
}

.sidebar-middle{
    display: flex;
    flex-direction: column;
    gap: 17px;
    font-size: 21px;
}
.sidebar-bottom{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 21px;
    margin-bottom: 8px;
    img{
        height: 24px;
        width: 24px;
    }
}

.main-section{
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    width: 612px;
    height: 300vh;
    /* background-color: rgb(0, 136, 255); */
    margin-left: 300px;

}


.status-section
{
    display: flex;
    gap: 18px;
    width: 100%;
    height: 70px;
    /* background-color: white; */
    margin-top: 20px;
}

.status-border
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87px;
    width:87px;
    border-radius: 90px;
    /* border: 5px solid red; */
    background: linear-gradient(45deg,#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5);
}

.status-border img{
    width:72px;
    height:72px;
    border-radius:77px;
    border:4px solid #111;
    margin-top: 0.51px;
    /* object-fit:cover; */
}


.arrow-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    /* right: 647px;
    top: 57px; */
    margin-top: -69px;
    margin-right: -47px;
    font-size:13px;
    color: #111111d4;
}


.status-box{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: end;
    color: white;
    gap: 3px;
    font-family: "Inter",sans-serif;
    font-size: 12px;
}

.post_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300vh;
    margin-top: 65px;
    margin-left: 0px;
    /* background-color: rgb(113, 255, 95); */
}

.firstpost{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    height:640px;
    /* justify-content: center;
    align-items: center; */
    /* background-color: rgb(63, 21, 21); */
}
.thirdpost{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    height:640px;
    /* justify-content: center;
    align-items: center; */
    /* background-color: rgb(63, 21, 21); */
}

.username{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.username3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.username-left3{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}
.username-left{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 36px;
    background: linear-gradient(45deg,#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5);
    img{
        height: 33px;
        width: 33px;
        border-radius: 30px;
        border: 2px solid #000;
        margin-bottom: 0.1px;
        margin-left: .1px;
    }
}

.user-details{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img{
        height: 29px;
        width: 29px;
        margin-top: 0px;
        margin-left:0px;
    }
}
.user-details3{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img{
        height: 29px;
        width: 29px;
        margin-top: 2.2px;
        margin-left:0px;
    }
}
/* .user-details2{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img{
        height: 1px;
    }
} */
.dot{
    margin-bottom: 5px;
    margin-right: 5px;
    color: #A6A6A6;
}

.post_image{
        margin-left: 10PX;
        margin-top:8px;
    img{
        width: 485px;
        height: 500px;
        border-radius: 8px;
        border:1px solid #ffffff28;
    }
}

.firstpost_section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%px;
    height: 200px;
    margin-top: 5PX;
    /* background-color: #fff; */

}

.LCRSH{
    display: flex;
    width: 450px;
    color: #fff;
    justify-content: space-between;
    /* margin-top: 10px;
    margin-left: 25px; */
}
.LCRSH-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.like,
.comment,
.repost{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.likedby{
    display: flex;
    margin-right: 125px;
    margin-top: 10px;
    color: white;
    gap: 5px;
}

.liked-profile3,
.liked-profile2,
.liked-profile1{
    img{
        height: 20px;
        width:20px;
        border-radius: 20px;
    }
}

.liked-profile2{
    /* position: relative; */
    margin-left: -12px;
}
.liked-profile1{
    margin-left: -12px;
}



.detail{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    /* background-color: rgb(221, 7, 7); */
    padding-left: 66px;
    color: #fff;
}

.detail img{
    width: 24px;
    height: 24px;
    margin-bottom: -8PX;
}


.second-post{
        display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    height: 770px;;
    /* justify-content: center;
    align-items: center; */
    /* background-color: rgb(254, 37, 37); */
}

.follow{
    width: 120px;
    height: 50px;
    /* background-color: #4f5bd5; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
    button{
        height: 32px;
        width: 75px;
        color: white;
        /* background-color: #363C44; */
        background-color: #25292F;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        margin-right: -10px;
    }
}
.follow:hover button{
    background-color: #363C44;
    cursor: pointer;
}

.user-details-right{
    padding-right: 10PX;
}

.suggestion{
    display: flex;
    flex-direction: column;

    /* background-color: #0C1014; */
}

.suggesst{
    margin-top: -15px;
    margin-left: 50px;
}


.post_image video{
        margin-left: -2PX;
        margin-top:8px;
        width: 485px;
        height: 600px;
        border-radius: 8px;
        /* border:1px solid #ffffff28; */
}

.thirdpost_section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%px;
    height: 200px;
    margin-top: 5PX;
    /* background-color: #fff; */

}
.thirdpost_section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%px;
    height: 200px;
    margin-top: 25PX;
    /* background-color: #fff; */

}

.dots3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}
.dot3{
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background-color: #4A5DF9;
}


.post3_image{
        margin-left: 10PX;
        margin-top:8px;
    img{
        width: 485px;
        height: 600px;
        border-radius: 8px;
        border:1px solid #ffffff28;
    }
}
